---
import Layout from '~/layouts/Layout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';
import Announcement from '~/components/widgets/Announcement.astro';

import { headerData, footerData } from '~/navigation';

import type { MetaData } from '~/types';

export interface Props {
  metadata?: MetaData;
}

const { metadata } = Astro.props;
---

<Layout metadata={metadata}>
  <!-- <slot name="announcement">
    <Announcement />
  </slot> -->
  <slot name="header">
    <Header {...headerData} isSticky showRssFeed showToggleTheme />
  </slot>
  <main>
    <slot />
  </main>
  <slot name="footer">
    <!-- <Footer {...footerData} /> -->
    <footer class:list={['relative border-t border-gray-200 dark:border-slate-800 not-prose']}>
      <div class="dark:bg-dark absolute inset-0 pointer-events-none" aria-hidden="true"></div>
      <div class="relative max-w-7xl mx-auto px-4 sm:px-6 dark:text-slate-300">
        <div class="grid grid-cols-12 gap-4 gap-y-8 sm:gap-8 py-8 md:py-12">
          <div class="col-span-12 lg:col-span-4">
            <b>Value Arc</b> All rights reserved 2024
          </div>
        </div>
      </div>
    </footer>
  </slot>
</Layout>
